 .app{

}
/*
.header{
  background-color: azure;
  color: aliceblue;

}

.nav{
  display: flex;
  justify-content: center;
}
.nav-list{
  list-style: none;
  display: flex;
  padding: 0%;
}

.nav-item{
  margin: 0 15px;
}

.nav-item a{
  color: red;
  text-decoration: none;
}

.main-content{
  flex: 1;
  background-color: aquamarine;
  color: blue;
  padding: 20px;
  text-align: center;
}

.footer{
  background-color: yellow;
  color: brown;
  text-align: center;
  padding: 20px;
} */

/* .header{
  background-color: white;

}
.main-content{
  flex: 1;
  background-color: rgb(241, 238, 51);
  color: rgb(239, 59, 27);
  padding: 70px;
  text-align: center;
  margin: 400px 150px 400px 150px;
}

.main-content-p1{
  font-size: large;
  font-weight: bold;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links li {
  color: #fff;
  font-size: 15px;
}
.btn {
  background-color: #2191a8;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.btn1 {
  background-color: #2191a8;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
}

/* Header Styles */
.head {
  text-align: center;
  padding: 50px;
  background-color: #fff;
}

.head h1 {
  color: #333;
  font-size: 30px;
  margin-bottom: 20px;
}

.head p {
  margin-top: 10px;
  color: #666;
  font-size: 15px;
}


input[type="checkbox"] {
  margin-right: 10px;
}

